*{
 margin: 0%;
 padding: 0%;
 font-family: 'Pacifico', cursive;

}
header{
background-image:linear-gradient(rgba(43, 38, 38, 0.5), rgba(32, 27, 27, 0.5)) ,url(children-reading-730x430.jpg);
background-size: cover;
height: 100vh;
background-position: top;
}
.u{

color:white;


font-style: italic;
position: relative;

}
.meg{

    color: rgb(255, 241, 241);
    
    
    
position: relative;


}
.ol{

font-style:bold;
position:top;
padding: 2px 2px 2px 2px;
margin: 5px 5px;
border: solid 2px brown;
float: right;
color: rgb(255, 255, 253);

}
ul li {
    display: inline-block;
    
}
.hume{
position:absolute;
padding-left: 500px;
padding-top: 500px;

}
